.inputs {
    margin-left: 20px;
}

#rgId {
    margin-left: 10px;
}

#cpfId {
    margin-left: 20px;
}

.labelSexo {
    margin: 0 24px;
}

.selectSC {
    margin-left: 6px;
}

.mySelect {
    width: 600px;
}

button {
    margin-left: 34px;
}